.task-container {

  margin-right: 20px;
  margin-top: 1%;
  padding: 0;
  text-align: left;
  background: #ECF0F1;
  color: #34495E;
  border-radius: 8px;

  h4 {
    background: #2980B9;
    padding: 8px 10px;
    height: 50px;
    margin: 0;
    color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  ul {
    padding: 20px;
  }
  li {
    list-style-type: none;
  }


  small {
    color: #7F8C8D;
  }

  .fui-trash {
    cursor: pointer;
  }
}
