<template name="user_tasks">

  {{#each users}}
  <div class="user-tasks-container col-xs-4">
    <h4 class="title">{{name}}</h4>
    <div class="tasks-wrapper">
      {{#each tasks}}
        {{ > user_task}}
      {{/each}}
    </div>
  </div>
  {{/each}}

  </template>

<template name="user_task">
  <div class="task {{checkedClass(checked)}}">
    <span>{{description}}</span>
    <div class="actions">
      {{#if checked}}
        <span class="fui-cross undo-task"></span>
      {{else}}
        <span class="fui-check complete-task"></span>
      {{/if}}
    </div>
    <small class="">Prazo: {{deadline}}</small>
  </div>
</template>
